<div class="container-fluid" style="background-image: url(../../assets/img/placeholder.jpg); height: 600px;">
    <h3 class="landingPage1 text-center" >We transform your idea into investor friendly startup in just 90 days</h3>
    <h5 class="landingPage2 text-center " >One stop startup solution : macbell – istart</h5>
    <h5 class="landingPage3 text-center " >Designed for founder</h5>
    <div style="text-align: center;">
    <button class="bg-danger button-design"  ><strong>See the features below</strong></button></div>
</div><br><br>
<div class="container" style="text-align: center;">
    <h2 style="text-align: center;">Pricing</h2>
    <table style="width:100%">
        <tr style=" background-color: #00affa ; height: 40px;">
          <th>Start</th>
          <th>Grow</th>
          <th>Raise</th>
          <th>Customize</th>
        </tr>
        <tr style=" background-color: #1f537f; color: #9ee1b3; height: 40px;">
            <th>Pricing Coming Soon</th>
            <th>Pricing Coming Soon</th>
            <th>Pricing Coming Soon</th>
            <th>Pricing Coming Soon</th>
        </tr>
        <tr style="color: white; background-color:  #1f537f; height: 40px;">
            <th><a href="#" class="tr3 bg-danger">Enquiry</a></th>
            <th><a href="#" class="tr3 bg-danger">Enquiry</a></th>
            <th><a href="#" class="tr3 bg-danger">Enquiry</a></th>
            <th><a href="#" class="tr3 bg-danger">Enquiry</a></th>
        </tr>
        <tr class="tr1" >
            <td>Cofounder & Team</td>
            <td>Cofounder & Team</td>
            <td>Cofounder & Team</td>
            <td>                </td>
        </tr>
        <tr class="tr2" >
            <td>Incorporation</td>
            <td>Intern</td>
            <td>Intern</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Intern</td>
            <td>CA/CS appointment</td>
            <td>Trademark registratio</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Intern</td>
            <td>Annual Commpliance</td>
            <td>ISO Certifications</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Informational Websites</td>
            <td>ROC filling</td>
            <td>Virtual Office</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Business email - 5</td>
            <td>ITR fillings</td>
            <td>Business plans</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Email Templates -3</td>
            <td>Business advisor</td>
            <td>Investor pitch</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Social media page</td>
            <td>Financial advisor</td>
            <td>Business PPT -5</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Company Broucher</td>
            <td>Business Consulting</td>
            <td>Meeting with Investor</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Google map listing</td>
            <td>Import Export code</td>
            <td>investor details</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Business promotions -180 days</td>
            <td>BOD</td>
            <td>Training for pitch</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Market Research</td>
            <td>Digital Marketing</td>
            <td>Startup event detail</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Business Research</td>
            <td>Business Plan</td>
            <td>Business advisor</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Content Writing</td>
            <td>Create revenues generating model</td>
            <td>Financial advisor</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Graphics Design</td>
            <td>Advertising</td>
            <td>Business consulting</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>Video creation</td>
            <td>Technical advisor</td>
            <td>Technical advisor</td>
            <td>                </td>
        </tr>
        <tr class="tr1">
            <td>Business Consultancy</td>
            <td>Product on ecommerce</td>
            <td>Product on ecommerce</td>
            <td>                </td>
        </tr>
        <tr class="tr2">
            <td>             </td>
            <td>Product on directory</td>
            <td>Product on directory</td>
            <td>                </td>
        </tr>
      </table><br><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h4>1. Work on idea and create team</h4>
            <h4>2. Basic legal process</h4>
            <h4>3. Digital marketing</h4>
            <h4>4. Branding</h4>
            <h4>5. Complete startup tool kit</h4>
            <h4>6. Support</h4>
        </div>
        <div class="col-lg-6">
            <h1 class="text-primary text-center">Start -</h1>
        </div>
    
    </div><br><br>
    <div class="row">
        <div class="col-lg-6">
            <h4>1. Project research and build team</h4>
            <h4>2. Legal and approval</h4>
            <h4>3. Advertising</h4>
            <h4>4. Branding and marketing</h4>
            <h4>5. Build revenu generating model</h4>
            <h4>6. Complete startup tool kit</h4>
            <h4>7. Support</h4>
        </div>
        <div class="col-lg-6">
            <h1 class="text-primary text-center">Grow -</h1>
        </div>
    
    </div><br><br>
    <div class="row">
        <div class="col-lg-6">
            <h4>1. Business plan & Team</h4>
            <h4>2. Complete legal process</h4>
            <h4>3. Branding & marketing</h4>
            <h4>4. Approval and certification</h4>
            <h4>5. Fund raising support</h4>
            <h4>6. Model ,strategy & plan</h4>
            <h4>7. Complete startup tool kit</h4>
            <h4>8. Support</h4>
        </div>
        <div class="col-lg-6">
            <h1 class="text-primary text-center">Raise -</h1>
        </div>
    
    </div>
</div><br><br>
<div class="container-fluid" style="background-image: url(../../assets/img/placeholder.jpg); color: white; font-weight: bold;">
    <div class="container" >
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-6" >
            <h3>Startup-Idea</h3>
            <h2>Contest</h2>
            <h5 class="text-warning">2019-2020</h5><br>
            <div style="width: 50%;">
                <p>opportunity to connect connect with investor, mentor, advisor other enterpreneurs. Every participants get unique tool i.e helpful to build and grow startup.</p>
            </div>
            <h3><a href="#" class="badge badge-success" >Cash prize Up to 5,00,000 INR</a></h3><br>
            <h4 class="text-warning"><i> Why live with idea! Live with your startup now</i></h4>
        </div>
        <div class="col-lg-6">
            <h2>Shift your perspective</h2>
            <h2>on digital business</h2><br>
            <p>startup event: startup idea contest 2019is organised by macbell to give opprtunity for innovative enterpreneurs to transform idea into investor friendly startup. To join the idea contest you become a member of macbell.in</p>
        </div>
    </div>
</div>
</div><br><br>
<div class="container-fluid" style="background-image: url(../../assets/img/placeholder.jpg); text-align: center; color: white; padding-top: 30px; height: 300px;">
    <h2>Our Partners</h2>
    <h4>Coming Soon</h4>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840289118572!2d144.95373631550405!3d-37.81720974201396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1543402448828" frameborder="0" style="border:5; height: 500px;" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6" >
            <div class="container" style="margin-left: 70px;">
            <h5>Reach Us at</h5><br>
            <h3>Contact Us</h3><br>
            <div>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>macbell infotech pvt ltd & 51/a, sharda nagar,
                ayodhya bypass road,bhopal (mp)</p>
            </div><br>
            <div>
                <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9111897177" class="contact-info-val">+91 9111897177</a>
            </div><br>
            <div>
                <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#"> info@macbell.in</a>
            </div>
        </div>
        </div>
    </div>
</div><br><br>
<footer class="col-12">
    <div class="container-fluid">
        <div class="text-center center-block" style="position: relative; top: 80px;"  >
                <a href="#" style="color: aliceblue;padding-right: 20px;"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                <a href="#" style="color: aliceblue;padding-right: 20px;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true "></i></a>
                <a href="#" style="color: aliceblue;padding-right: 20px;"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                <a href="#" style="color: aliceblue;"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>

        </div>
    </div>
</footer>